    {%- if subhead != blank -%}
        <h4 class="h4 subheading reveal-up-child">{{ subhead | escape }}</h4>
    {%- endif -%}
    {%- if head != blank -%}
        <h1 class="h2 reveal-up-child">{{ head | escape }}</h1>
    {%- endif -%}