
{% paginate blogs[section.settings.select_blog].articles by section.settings.range %}
<div class="blog-section page-width mobile-h-padding">
  <div class="row product-slider-header {{ section.settings.alignment_head_m }}-xs {{ section.settings.alignment_head }}-sm">
      <div class="col-xs-12">
          {%- if section.settings.subtitle != blank -%}
              <h4 class="h4 subheading">{{ section.settings.subtitle | escape }}</h4>
          {%- endif -%}
          {%- if section.settings.title != blank -%}
              <h1 class="h2 heading">{{ section.settings.title | escape }}</h1>
          {%- endif -%}
      </div>
  </div>
  <div class="row">
    {% for article in blogs[section.settings.select_blog].articles %}
      {% include 'blog-grid', article: article, bg: section.settings.background_color, blog_show_author: section.settings.blog_show_author, blog_show_date: section.settings.blog_show_date, excerpt: section.settings.excerpt %}
    {% endfor %}
  </div>
</div>
{% endpaginate %}


{% schema %}
{
  "name": "Blog Section",
  "tag": "section",
  "settings": [
  {
      "type": "header",
      "content": "Alignment"
  },
  {
      "type": "header",
      "content": "Desktop"
  },
  {
      "type": "select",
      "id": "alignment_head",
      "label": "Heading & Button Alignment",
      "options": [
          {
              "value": "start",
              "label": "Left"
          },
          {
              "value": "center",
              "label": "Center"
          },
          {
              "value": "end",
              "label": "Right"
          }
      ]
  },
  {
      "type": "header",
      "content": "Mobile"
  },
  {
      "type": "select",
      "id": "alignment_head_m",
      "label": "Heading & Button Alignment",
      "options": [
          {
              "value": "start",
              "label": "Left"
          },
          {
              "value": "center",
              "label": "Center"
          },
          {
              "value": "end",
              "label": "Right"
          }
      ]
  },
  {
      "type": "header",
      "content": "Colors"
  },
  {
      "type": "color",
      "id": "background_color",
      "label": "Article Background Color",
      "default": "#fff"
  },
  {
      "type": "header",
      "content": "Heading"
  },
  {
      "type": "text",
      "id": "subtitle",
      "label": "Subheading",
      "default": "Subheading Text"
  },
  {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Heading Text"
  },
  
  {
      "type": "header",
      "content": "Blog"
  },
  {
    "type": "blog",
    "id": "select_blog",
    "label": "Select Blog"
  },
  {
      "type": "range",
      "id": "range",
      "label": "Number of Posts",
      "min": 3,
      "max": 12,
      "step": 3,
      "default": 3
  },
  {
    "type": "checkbox",
    "id": "blog_show_author",
    "label": "Show author",
    "default": true
  },
  {
    "type": "checkbox",
    "id": "blog_show_date",
    "label": "Show date",
    "default": true
  },
  {
    "type": "checkbox",
    "id": "excerpt",
    "label": "Show excerpt",
    "default": true
  }
  ],
  "presets": [
      {
      "name": "Blog Section",
      "category": "Blog"
      }
  ]
}
{% endschema %}