<div class="row instagram-outer mobile-h-padding">
    <div class="section-header text-center page-width">
        <p class="subheading product-time">{{ section.settings.subheading | escape }}</p>
        <h2><a href="{{ section.settings.insta_link }}">{{ section.settings.heading | escape }}</a></h2>
    </div>
    <div class="instagram-feed page-width row" handle="{{ section.settings.handle_insta }}"></div>
</div>

{% schema %}
  {
    "name": "Instagram Feed",
    "tag": "section",
    "settings": [
    {
        "type": "header",
        "content": "Instagram Settings"
    },
    {
        "type": "text",
        "id": "handle_insta",
        "label": "Insagram handle",
        "default": "@underneathskincare",
        "info": "Add the Instagram handle or hashtag"
    },
    {
        "type": "header",
        "content": "Text"
    },
    {
        "type": "text",
        "id": "subheading",
        "label": "Section Subheading",
        "default": "Instagram"
    },
    {
        "type": "text",
        "id": "heading",
        "label": "Section Heading",
        "default": "Heading"
    },
    {
        "type": "url",
        "id": "insta_link",
        "label": "Link to Instagram page"
    }
    ],
    "presets": [
        {
        "name": "Instagram Feed",
        "category": "Promotional"
        }
    ]
  }
{% endschema %}
