<div class="seo_txt_block">
  <div class="stb_inner row" style="justify-content:center !important;">
    <div class="col-md-6 col-sm-6 col-xs-12 text-center">
      {% if section.settings.nope == true %}
      <h2>{{section.settings.title}}</h2>
      {% else %}
      <h1>{{section.settings.title}}</h1>
      {% endif %}
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 text-center row stbir_txt">
      <div class="col-md-3 col-sm-3 col-xs-12 text-center"></div>
      <div class="col-md-6 col-sm-6 col-xs-12 text-center">
        <div class="stb_description">
          {{section.settings.text}}
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 text-center"></div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "SEO Paragraph",
    "settings": [
	 {
	  "type":"text",
	  "id":"title",
	  "label": "Title",
	  "default": "Add an Seo Title"
     },
	 {
	  "type":"checkbox",
	  "id":"nope",
	  "label": "Do not use h1 Tag",
	  "default":false
     },
	 {
	  "type":"richtext",
	  "id":"text",
	  "label": "Details",
      "default": "<p>Add something about your brand in the theme editor</p>"
     }
	],
	"presets": [
	  {
		"name":"SEO Paragraph",
		"category": "text"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
