{% comment %}
  The contents of the blog.liquid template can be found in /sections/blog-template.liquid
{% endcomment %}
<div class="page-with-header page-width page mobile-h-padding">
{% section 'blog-template' %}
</div>