<div class="page-with-header">
    <!-- {% section "faq-template"%} -->
    <div class="page-width">  
        <div class="mobile-h-padding row">
            {% section "faq-order" %}
            <!-- {% section "faq-account" %}
            {% section "faq-general" %} -->
        </div>
    </div>
</div>