<div class="page-width page-with-header page mobile-h-padding">
  <div class="row">
    <div class="col-xs-12">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
